
@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

<form method="post" action="~/Shippers/Insert">
    <label>供應商名稱</label>
    <input type="text" name="CompanyName"/>
    <label>供應商電話</label>
    <input type="text" name="Phone" />
    <button type="submit" class="btn btn-success">新增</button>
</form>

